$padding: 5px;

.headerUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.headerUser * {
    padding: 10px;
}

.loader {
  width: 120px;
  height: 20px;
  margin: auto;
  -webkit-mask:linear-gradient(90deg,#000 70%,#0000 0) 0/20%;
  background:
   linear-gradient(#000 0 0) 0/0% no-repeat
   #ddd;
  animation: l4 1s infinite steps(6);
}
@keyframes l4 {
    100% {background-size:120%}
}

.ingredientsTable {
    border: 5px solid #0164bb;
    border-radius: 10px;
    padding: $padding;
    width: 700px;
}

.ingredientsTable th {
    border-bottom: 1px solid black;
}

.ingredientsTable * {
    padding: $padding;
}

.createIngredientContainer {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0px 150px;
}